<!DOCTYPE HTML-5>
  <html lang='en'>
    <head>
      <title>A Bitter Taste</title>
      <meta charset="utf-8">
      <link rel="stylesheet" href="/views/pages/resources/paper-styles.css">
    </head>
    <body>

      <div class='container'>
        <h1>A Bitter Taste: Do Cooking Blogs Need a Rework?</h1>
        <p>
          Cooking blogs have vastly changed the modern home-cooking experience. They can give us ideas when we come up short, foundations to build our own meals on, or even just an interesting (and mouthwatering) read about the history and culture of a particular dish. Unfortunately, they can also often be confusing, slow, and altogether difficult to use, even for the simplest recipes. Part of the reason for this is that they cater to two separate audiences: those who need a quick recipe for the evening and don’t want to read any more than they need to, and those who enjoy the experience of learning about a meal and actively follow these blogs. Another very important reason is that the authors of these blogs are constrained by their need to make money, and often this manifests itself in predatory design that is meant to keep you on the page for longer, instead of speeding you on your way to an excellent dinner.
        </p>

        <p>
          The experiences of someone who intermittently <em>reads</em> cooking blogs and someone who follows them are inherently different. The online experience affords for both of these uses. Since these pages are often optimized for being found by search engines, they afford for quick and convenient provision of information to a hungry parent in need of an easy family meal - in the words of Don Norman, author of <em>The Design of Everyday Things</em>, the cooking site is intended to be easily <em>discoverable</em>, an important concept in user-centered design. Most likely, these users will end up using a phone (or possibly a laptop) open to the recipe page in the kitchen as they cook. This constrains the blog’s design; if your hands are messy or full from the chaotic cooking experience, it may be difficult to scroll, so all the necessary info should fit on one page or the size of a phone screen.
        </p>

        <img src="/views/pages/resources/design-analysis/ingredients.jpg" alt="An ingredient list that easily fits on a page">
        <figcaption>An ingredient list that easily fits on a page</figcaption>

        <p>
          On the other hand, someone who enjoys reading these blogs more in-depth may prefer to take things slower and understand a dish’s background. An online blog affords for this as well, with accounts and the ability to save/share recipes, as well as to subscribe to the blog. This use case is about <em>entertainment</em> rather than convenience. The recipe may still be constrained to a screen-sized bite, but any other information or background can be longer.
        </p>

        <p>
          One of Norman’s illustrations in <em>The Design of Everyday Things</em> is a classroom door which is intentionally designed to be difficult to open by children; the idea here is to keep them from wandering off into the dangerous road in front of the school, unless accompanied by an adult. This introduces the practice of using designs that consciously go <em>against</em> usability, in order to serve other purposes. In a similar vein, these cooking sites have predatory design components that actually <em>impede</em> users, keeping them on the page for a longer time. The main source of income for most blog sites is ads and corporate partnerships (such as sponsorships by particular kitchenware companies), which means the designers and authors have a vested interest in keeping your attention for longer, as well as suggesting things you’re likely to buy or be interested in. By subverting positive design concepts - minimizing the discoverability of the “skip to recipe” button, or introducing ads that pop up unexpectedly and lead the user to erroneously click on them - the owners of these blogs can increase their own income, at the cost of slightly worsening the user experience.
        </p>

        <img src="/views/pages/resources/design-analysis/jump-to-recipe.jpg" alt="Jump to recipe buttons">
        <figcaption>
          Two “jump to recipe” buttons; the left is small and in a difficult place to notice,
          while the right is in the natural path of the eyes down the page.
          (The scale is difficult to see; it's easier simply to go to the pages at <a href="https://www.gimmesomeoven.com/spaghetti-aglio-e-olio/">Gimme Some Oven</a> and <a href="https://pinchofyum.com/brussels-kale-caesar-with-cheezy-garlic-croutons">Pinch of Yum</a>)
        </figcaption>

        <p>
          We can find examples of these concepts all over the internet. The <a href="allrecipes.com">Allrecipes</a> homepage, more often used by subscribers, is fairly well balanced between ads and useful content. Since users in our second category are more likely to stay and browse recipes in general, the ads can be a little more prevalent, appearing in the margins and interspaced with the content. Sudden distractions, like an ad suddenly detaching itself from its position to follow you down the page, can be ignored by the designers. This might even be useful, since the user may need to take a moment and find their place on the page again. They may then be distracted by something else, and so stay even longer. (Norman calls these incidents “loss-of-activation slips”, a type of user error that should be minimized in well-designed systems.) Otherwise, the page has good mappings; the menu brings up categories, each with one or two highlights, in an expected way; the “close ad” X button and the escape key all map to the “get me out of here” user desire, as is the cultural constraint. It’s well-designed for its audience.
        </p>

        <p>
          On the <a href="pinchofyum.com">Pinch of Yum</a> site, which is more of a traditional blog with regular “story” posts than Allrecipes, things are similar. The mappings are good, and the easy-to-notice “jump to recipe” button allows both entertainment users and convenience users to choose the best path through the site for them. Besides a banner at the top, the ads stay largely in their places in the margins. The recipe itself follows its genre well; the logical constraint of “ingredients first, instructions second” (matching the actual process of cooking) is followed, and each of these parts fits onto one page/screen. It’s an experience in flexibility of use, with plenty of interest value right next to useful recipe information.
        </p>

        <img src="/views/pages/resources/design-analysis/adspace.jpg" alt="Difference in ad coverage">
        <figcaption>Recipe pages for Pinch of Yum (left) and Gimme Some Oven (right). Note the different space on the page covered by ads.</figcaption>

        <p>
          <a href="gimmesomeoven.com">Gimme Some Oven</a>, on the other hand, is less easy to use. The ads take up half of the screen, relegating the recipe to the left portion. The “jump to recipe” button is placed where we might expect to find an author’s name or a date. This is a logically sound mapping - it’s next to the “comments” button - but not a good one. Our mental model of the site leads us to look for this button, fail to find it in its usual place (ideally somewhere central, and well below the title), and assume that no button exists. Whether this an intentional subversion of discoverability, or simply a poor placement, matters little: the voracious users are still left out in the cold, scrolling down through the entire exposition and trying to ignore the pangs of hunger in their stomachs. What’s more, the first list they encounter is but an <em>imitation</em> of the proper recipe, fitting the general structure of the genre but having incomplete information, further delaying dinner. Only after scrolling through the “possible variations” section does the user find the recipe, which only barely fits in the portion of the screen not covered by ads. A profitable design, certainly - but much less convenient for the user.
        </p>

        <p>
          Regardless of the inconveniences, people still use these cooking blogs, in either (or both) of the ways described. We might be tempted to think that, if the predatory and often poor design of these sites hasn’t already driven users away, is there any reason to change things now? Skipping over the soulless, artless, and profit-hungry core of this line of reasoning, there are in fact benefits to making changes. When users enjoy their experience more, they may remember the particular site, come back more frequently, and possibly even become a subscriber or a reader instead of just an as-needed user. This means longer stays, more clicks, more traffic, and better profits for the authors. This should be an attractive concept to authors everywhere, as well as users who feel inclined to put a little pressure on these blogs to move in the right direction. With some simple tweaks and adjustments, everyone can go home happy - and maybe a little more well-fed.
        </p>
      </div>

    </body>
