<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset = "utf-8">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>
  <body style="background-color:#ffffff">
    <div class="topnav">
      <form action="/">
        <input type="submit" name="home" value="Home">
      </form>
    </div>
  </html>
