<!DOCTYPE html>
  <html lang="en">
    <head>
      <title>About Me</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
    <body>
      <div class="container">
        <h1>Kai Hueske-VanCeylon</h1>
      </div>
      <div class="container">
        <div class="card">
          <div class="card-body">
            I'm a junior at CU Boulder studying Computer Science, on the BS track.
            My particular interests are in artificial intelligence and cognitive science.
            I hope to earn a cognitive science certificate within the next two years,
            and to research new approaches and applications for AI.
          </div>
        </div>
      </div>
      <div class="container">
        <h2>My Professional Profile</h2>
        <br>
        <div class="row">
          <div class="col">
            <div class="text-center">
              <div class="btn btn-primary" type="button" data-toggle="collapse" data-target="#github-prof">
                My Github profile
              </div>
              <div class="collapse" id="github-prof">
                <div class="card card-body">
                  All my repos, open for perusal. Explore at your leisure.
                </div>
                <a href="https://github.com/kaihvc" target="_blank" class="btn btn-secondary">Let's go</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="text-center">
              <div class="btn btn-primary" type="button" data-toggle="collapse" data-target="#connect-more">
                Connect More
              </div>
              <div class="collapse" id="connect-more">
                <div class="card card-body">
                  A simple, extensible AI that can currently play Tic-Tac-Toe
                  and Connect 4.
                </div>
                <a href="https://github.com/myannutz/connect-more" target="_blank" class="btn btn-secondary">See the project</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="text-center">
              <div class="btn btn-primary" type="button" data-toggle="collapse" data-target="#tutor-taker">
                TutorTaker
              </div>
              <div class="collapse" id="tutor-taker">
                <div class="card card-body">
                  A web app to match students with prospective tutors.
                </div>
                <a href="https://github.com/OrtizJohn/tutortaker" target="_blank" class="btn btn-secondary">See the project</a>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="text-center">
          <img src="./resources/profile.jpg" alt="Me" class="rounded-circle" width="375" height="500">
        </div>
      </div>
      <div class="container">
        <h2>Projects</h2>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Project</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Connect More</td>
              <td>
                A heuristic-based engine to play games. It uses a tree to
                evaluate the current game state, and can be extended to play
                turn-based games with finite state spaces. Currently equipped
                to play Tic-Tac-Toe and Connect 4. Think you're smarter than
                a computer programmed by a few freshman CS students?
              </td>
            </tr>
            <tr>
              <td>TutorTaker</td>
              <td>
                A web application hosted on Heroku to match students with prospective
                tutors. This was a collaborative effort with several software
                development classmates in Fall 2019, using NodeJS, EJS, PostgreSQL,
                and several other development tools. TutorTaker is no longer online,
                but the source is available on Github for the curious at heart.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="container">
        <h2>Other interests</h2>
        <div class="card card-body">
          In addition to computer science, I'm a passionate musician, tea
          fanatic, and aspiring language learner. I'm minoring in Global
          engineering at CU, which entails a regional/language focus, as well as
          global perspective courses and an experience abroad. I'm currently learning
          German, and hope to spend a summer or a semester there at some point.
        </div>
      </div>
      <div class="container">
        <center>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#contact">
            Contact
          </button>
          <div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="aModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Contact Info</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col">
                      kai.hueskevanceylon@colorado.edu
                    </div>
                    <div class="col">
                      github.com/kaihvc
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </center>
      </div>
      <br>
    </body>
  </html>
